body {
	--color-bg-1: var(--theme-bg-1);
	--color-bg-2: var(--theme-bg-2);
	--color-fg-1: var(--theme-fg-1);
	/* --color-hl-1: #58a6ff; */
	--color-hl-1: #2246da;
	--color-hl-2: #b3092b;
	--filter-hl: var(--theme-filter-hl);
}

body[theme='Light'] {
	--theme-fg-1: #24292e;
	--theme-bg-1: #ffffff;
	--theme-bg-2: #f7f7f7;

	--theme-filter-hl: brightness(0) saturate(100%) invert(15%) sepia(24%) saturate(284%) hue-rotate(169deg) brightness(91%)
		contrast(96%);
}

body[theme='Dark'] {
	--theme-fg-1: #c9d1d9;
	--theme-bg-1: #1c2128;
	--theme-bg-2: #161b22;
	--theme-filter-hl: brightness(0) saturate(100%) invert(90%) sepia(14%) saturate(137%) hue-rotate(169deg) brightness(92%)
		contrast(90%);
}
