@font-face {
	font-family: SourceSans;
	src: url('./fonts/SourceSans.woff2');
}

@font-face {
	font-family: Golos;
	src: url('./fonts/Golos UI_VF.woff2');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--hi-color: #fff;
	--mid-color: #808080;
	--low-color: #000000;

	--volume-level: 0px;

	--button-size: 1.25rem;

	--art-grid-gap: 1rem;
}

html {
	height: 100%;
}

body {
	color: #fff;
	height: 100%;
	display: block;
	font-family: Golos;
	/* font-family: SourceSans; */
	font-variation-settings: 'wght' 400;
}

*::-webkit-scrollbar {
	width: 6px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	/* background: rgba(255, 255, 255, 0.75); color of the tracking area */
	background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
	background-color: #fff; /* color of the scroll thumb */
	border-radius: 200px;
	/* border: 4px solid #fff; creates padding around scroll thumb */
}

player-progress progress-foreground.not-smooth {
	transition: min-width 0ms linear !important;
}

svg.player-button {
	transition: fill 300ms ease-in-out;
	height: 100%;
	width: auto;
	fill: var(--low-color);
}
