@font-face {
	font-family: Nunito;
	src: url('./fonts/NunitoVFBeta.ttf');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	height: 100%;
}

body {
	color: #fff;
	height: 100%;
	display: block;
	font-family: Nunito;
	font-variation-settings: 'wght' 80;
}
